.patch { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-left: 10%; 
    padding-right: 10%; 
} 

.patch>.site {
    backdrop-filter: blur(6px);
    width: 230px;
    height: 115px;
    padding: 13px;
    margin: 15px; 
    text-decoration: none; 
    color: #000000; 
    background-color: rgba(255, 255, 255, 30%);
}

.patch>.site>.in>.title {
    font-size: 20px;
    font-weight: bold;
}

.patch>.site>.in>hr {
    margin-top: 7px;
    margin-bottom: 7px;
}

.patch>.site>.in>.tiny {
    font-size: 14.3px;
} 

@media (max-width: 767px) { 
    .patch>.site {
        width: 150px;
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin: 15px;
        font-size: 13px;
        background-color: rgba(255, 255, 255, 40%);
    }

    .patch>.site>.in>.title {
        font-size: 15px;
        font-weight: bold;
    }

    .patch>.site>.in>hr {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .patch>.site>.in>.tiny {
        font-size: 10px;
    }

}